/* login.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
  }
  #container {
    width: 400px;
    padding: 2%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
   background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .form-holder {
    margin-bottom: 20px;
  }
  
  .input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .input:hover{
    
    transition: 0.5s;
  }
  .submit-btn {
    display: block;
    width: 20%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color:brown;
    transform: scaleX(1);
    transform: scaleY(1);
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
  }
  